# yaml-language-server: $schema=./values.schema.json

global:
  domain: c-127c9ef.stage.kyma.ondemand.com
  host: v04-approuter-grant-management.c-127c9ef.stage.kyma.ondemand.com
  imagePullSecret:
    name: docker-registry
  image:
    registry: scai-dev.common.repositories.cloud.sap
    tag: v22
    imagePullPolicy: Always
srv:
  bindings:
    auth:
      serviceInstanceName: identity
      parameters:
        credential-type: X509_GENERATED
        app-identifier: grant-api
    destination:
      serviceInstanceName: destination
  image:
    repository: grant-management/api
  resources:
    limits:
      ephemeral-storage: 1G
      memory: 500M
    requests:
      ephemeral-storage: 512M
      cpu: 250m
      memory: 216M
  health:
    liveness:
      path: /health
    readiness:
      path: /health
  networkSecurity:
    allowNamespaceInternal: true
  env:
    - name: CDS_REQUIRES_AUTH_KIND
      value: "ias"
    - name: CDS_REQUIRES_DESTINATIONS_KIND
      value: "destinations"
    - name: BASE_API_URL
      value: "https://{{ tpl .Values.global.host . }}/"

approuter:
  networkSecurity:
    allowNamespaceInternal: true
  expose:
    enabled: true
    corsPolicy:
      allowOrigins:
        - regex: ".*-approuter-{{ .Release.Namespace }}.{{ .Values.global.domain }}"
        - exact: "https://*.{{ tpl .Values.global.domain . }}"
        - exact: "http://localhost:9000"
        - exact: "http://localhost:4338"
        - regex: ".*.euw.devtunnels.ms"
        - regex: ".*.oauth.pw"
        - regex: ".*.local.oauth.pw"
        - regex: ".*.oauth.pw:5000"
        - regex: ".*.local.oauth.pw:5000"
        - regex: ".*.authz.id"
        - regex: ".*.local.authz.id"
        - regex: ".*.authz.id:5000"
        - regex: ".*.local.authz.id:5000"
        - regex: ".*.localhost:5000"
        - regex: ".*.localhost:9000"
      allowMethods:
        - "GET"
        - "POST"
        - "PUT"
        - "DELETE"
        - "OPTIONS"
        - "PATCH"
        - "HEAD"
      allowHeaders:
        - "*"
      allowCredentials: true

  bindings:
    auth:
      serviceInstanceName: identity
      parameters:
        credential-type: X509_GENERATED
        app-identifier: approuter
    destination:
      serviceInstanceName: destination
  image:
    repository: grant-management/approuter
  runAsUser: 1000
  resources:
    limits:
      ephemeral-storage: 1G
      memory: 500M
    requests:
      ephemeral-storage: 1G
      cpu: 250m
      memory: 500M
  health:
    liveness:
      path: /
    readiness:
      path: /
  envFrom:
    - configMapRef:
        name: "{{ .Release.Name }}-approuter-configmap"
  env:
    # TENANT_HOST_PATTERN: "^(.*)-{{ tpl .Values.global.domain . }}"
    # TENANT_MODE: "shared"
    OTEL_EXPORTER_OTLP_ENDPOINT: http://otlp-dashboard:18889
    OTEL_EXPORTER_OTLP_PROTOCOL: http/protobuf
    OTEL_SERVICE_NAME: approuter
    OTEL_PROPAGATORS: tracecontext,baggage
mcp:
  image:
    repository: grant-management/mcp
  resources:
    limits:
      ephemeral-storage: 1G
      memory: 256M
    requests:
      ephemeral-storage: 512M
      cpu: 100m
      memory: 128M
  health:
    liveness:
      path: /health
    readiness:
      path: /health
  networkSecurity:
    allowNamespaceInternal: true

portal:
  runAsUser: 1993
  bindings:
    auth:
      serviceInstanceName: identity
      parameters:
        credential-type: X509_GENERATED
        app-identifier: grant-portal
    destination:
      serviceInstanceName: destination
  image:
    repository: grant-management/portal
  resources:
    limits:
      ephemeral-storage: 1G
      memory: 500M
    requests:
      ephemeral-storage: 1G
      cpu: 500m
      memory: 500M
  health:
    liveness:
      path: /
    readiness:
      path: /
  networkSecurity:
    allowNamespaceInternal: true

mcp-client:
  runAsUser: 1993
  bindings:
    auth:
      serviceInstanceName: identity
      parameters:
        credential-type: X509_GENERATED
        app-identifier: mcp-client
    destination:
      serviceInstanceName: destination

  image:
    repository: grant-management/mcp-client
    tag: v23
  resources:
    limits:
      ephemeral-storage: 1G
      memory: 256M
    requests:
      ephemeral-storage: 512M
      cpu: 100m
      memory: 128M
  health:
    liveness:
      path: /health
    readiness:
      path: /health
  networkSecurity:
    allowNamespaceInternal: true
  env:
    - name: MCP_URL
      value: "https://{{ tpl .Values.global.host . }}"
    - name: PORT
      value: "8080"
    - name: HOST
      value: "0.0.0.0"

identity:
  serviceOfferingName: identity
  servicePlanName: application
  parameters:
    name: grant-management-identity
    display-name: Grant Management Identity Service
    description: Identity service for Grant Management Application
    multi-tenant: true
    xsuaa-cross-consumption: true
    home-url: "https://{{ tpl .Values.global.host . }}/"
    consumed-services:
      - service-instance-name: v04-destination
    provided-apis:
      - name: grant-api
        description: Grant Management API
      - name: grant-mcp
        description: MCP Service for Grant Management
      - name: mcp-client
        description: MCP Client for Grant Management
      - name: srv-api
        description: Service API for Grant Management
      - name: principal-propagation
        description: Principal Propagation for Grant Management
    oauth2-configuration:
      grant-types:
        - authorization_code
        - client_credentials
        - refresh_token
        - urn:ietf:params:oauth:grant-type:jwt-bearer
        - urn:ietf:params:oauth:grant-type:token-exchange
      token-policy:
        access-token-format: "jwt"
      redirect-uris:
        - https://{{ tpl .Values.global.domain . }}/login/callback
        - https://*.{{ tpl .Values.global.domain . }}/login/callback
        - https://*.euw.devtunnels.ms/login/callback?authType=ias
        - https://*.oauth.pw/login/callback?authType=ias
        - https://*.local.oauth.pw/login/callback?authType=ias
        - https://*.oauth.pw:5000/login/callback?authType=ias
        - https://*.local.oauth.pw:5000/login/callback?authType=ias
        - https://*.authz.id/login/callback?authType=ias
        - https://*.local.authz.id/login/callback?authType=ias
        - https://*.authz.id:5000/login/callback?authType=ias
        - https://*.local.authz.id:5000/login/callback?authType=ias
        - http://localhost:5000/login/callback?authType=ias
        - http://localhost:5000/login/callback?authType=ias
        - http://localhost:9000/login/callback?authType=ias
        - http://localhost:9000/login/callback?authType=ias

      post-logout-redirect-uris:
        - https://*.{{ tpl .Values.global.domain . }}/*/logout.html

backendDestinations:
  srv-api:
    service: srv
    forwardAuthToken: true
    preserveHostHeader: true
  mcp-client-api:
    service: mcp-client
    forwardAuthToken: false
  grant-api:
    service: srv
    forwardAuthToken: true
    authentication: OAuth2UserTokenExchange
#    sap-client: true
#    forwardAuthCertificates: true
#    HTML5.IASDependencyName: grant-api
#    HTML5.ForwardAuthCertificates: true

  grant-mcp:
    service: srv
    forwardAuthToken: true
    HTML5.IASDependencyName: grant-mcp
    sap-client: true

    IASDependencyName: grant-mcp
  # user-portal:
  #   service: portal
  #   forwardAuthToken: true

destination:
  serviceOfferingName: destination
  servicePlanName: lite
  parameters:
    version: 1.0.0
#    HTML5Runtime_enabled: true
#    init_data:
#      subaccount:
#        existing_destinations_policy: update
#        destinations:
#          - Name: grant-mcp
#            url: https://v04-approuter-grant-management.c-127c9ef.stage.kyma.ondemand.com/mcp/streaming
#            authentication: OAuth2UserTokenExchange
#            proxyType: Internet
#            sap-client: true
#            description: MCP endpoint for Grant Management Application
#            forwardAuthToken: true

postgresql:
  serviceOfferingName: postgresql-db
  servicePlanName: development
  fullnameOverride: grants-postgres
