apiVersion: v1
kind: Service
metadata:
  name: {{ include "agent-indentity-proxy.fullname" . }}
  labels:
    {{- include "agent-indentity-proxy.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ include "agent-indentity-proxy.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
  ports:
    - name: http
      port: 80
      targetPort: 4004
